<div class="container-fluid container-fluid-custom">
  <h1>About</h1>
  <h2>This is a simple note-taking app built with Node.js, Express, and Bootstrap 5.</h2>
  <br>
  <h3>It's a free app, and it's open source. You can find the source code on <a href="https://github.com/kareemelbalshe/notes-app" style="color: black; font-weight: bold;">GitHub</a>.</h3>
  <hr>
  <p>Hello! I'm Kareem Elbalshy, a proficient MERN stack developer with a knack for building dynamic and user-friendly web applications. With a robust skill set that encompasses MongoDB, Express.js, React.js, Node.js, TypeScript, JavaScript, HTML, CSS, Bootstrap, and more, I specialize in crafting seamless digital experiences that captivate and engage users.

    My expertise extends to optimizing web applications for search engine visibility. By implementing SEO best practices, including keyword research, meta tags, structured data markup, and site speed optimization, I ensure that your projects rank well in search engine results and attract organic traffic.
    
    Alongside my academic pursuits, I actively contribute to the Mufix community as a member of the multimedia team, a voluntary activity. Within this role, I collaborate with fellow students, leveraging my skills in areas such as Photoshop, and graphic design to create engaging and informative multimedia content.
    
    As part of the multimedia team, I've had the opportunity to further hone my skills and apply them in real-world scenarios, contributing to the success of various projects and initiatives. This experience has not only enhanced my technical abilities but also fostered a strong sense of teamwork and collaboration.
    
    Additionally, I have hands-on experience with RESTful APIs, Redux state management, Git version control, and GitHub collaboration. This enables me to excel in collaborative environments, where I thrive on tackling challenges head-on and delivering high-quality solutions that meet and exceed client expectations.
    
    Eager to stay abreast of emerging technologies and industry trends, I'm always keen on learning. With a solid programming foundation, adept problem-solving skills, and a touch of creativity, my aim is to craft captivating and user-friendly web experiences.</p>
</div>
